<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Speed Test</title>
 <style>
  input[type=submit] {
   border: 1px solid #ccc;
   display: inline-block;
   background-color: royalblue;
   border: none;
   color: white;
   padding: 16px 32px;
   text-decoration: none;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 10px;sends the request to the ser
   width:240px;
  }
  input[type="file"] {
   display: none;
  }
  .custom-file-upload {
   border: 1px solid #ccc;
   display: inline-block;
   background-color: royalblue;
   border: none;
   color: white;
   padding: 16px 32px;
   text-decoration: none;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 10px;
   width: 180px;
  }
 </style>
</head>
<body>
 <!-- ******************************************************************** -->
 <hr>
 <p style="font-family: 'Arial', monospace; font-size: 32px; font-weight: bold; text-decoration: underline; color: royalblue">Speed Test</p>
 <hr>
 <!-- ******************************************************************** -->
 <!-- Download procedure begins here -->
 <!-- ******************************************************************** -->
 <button onclick="measureDownloadSpeed()" style="font-family: 'Arial', monospace; font-size: 14px; 
 background-color: royalblue; border: none; color: white; padding: 16px 32px; 
 text-decoration: none; margin: 4px 2px; cursor: pointer; border-radius: 10px; width: 250px;">Measure Download Speed</button>
 <div style="font-family: 'Arial', monospace; font-size: 14px;height:20px;" id="downloadResult"></div>
 <div style="font-family: 'Arial', monospace; font-size: 14px;height:20px;" id="downloadFileSize"></div>
 <script>
  function measureDownloadSpeed() {
   var startTime, endTime; //Start and end time variables are defined
   var downloadSizeInBytes = 1024 * 1024 ; // 1 MB dosya
   var downloadUrl = "static/100MB.png";// İndirilecek dosyanın URL'si
   var xhr = new XMLHttpRequest();//Request is defined
   xhr.open('GET', downloadUrl, true);//Trigger the request to open

   xhr.onreadystatechange = function () {//We check the status of the request's respond if it returns 2(which is request started) request is ready. If it returns 4 (request is ready) we end timer to get the value for calculating speed.
    
    if (xhr.readyState === 2) {
     startTime = new Date().getTime();
    } else if (xhr.readyState === 4) {
     endTime = new Date().getTime();
     var durationInSeconds = (endTime - startTime) / 1000000; //calculations
     var downloadSpeedMbps = (downloadSizeInBytes / (1024 * 1024 )) / durationInSeconds; //calculations
     document.getElementById("downloadResult").innerHTML = "Download Speed : " + downloadSpeedMbps.toFixed(2) + " Mbps"; //print operations
     downloadFileSize = xhr.response.length; //We put the value of file size (as byte) into variable
     downloadFileSize=formatFileSize(downloadFileSize,2)//we apply formatFileSize function here (detailly explained in line 138)
     document.getElementById("downloadFileSize").innerHTML = "Download File Size : " + downloadFileSize ;//print operations
    }
   };
  
   xhr.send();//sends a request to server
  }


 </script>
 <!-- ******************************************************************** -->
 <p></p>
 <label class="custom-file-upload" style="font-family: 'Arial', monospace; font-size: 14px; background-color: royalblue; border: none; color: white; padding: 16px 32px; text-decoration: none; margin: 4px 2px; cursor: pointer; border-radius: 10px;width: 185px">
  Measuring Upload Speed
  <input type="file" id="fileInput" onchange="measureUploadSpeed()" style="font-family: 'Arial', monospace; font-size: 14px; background-color: royalblue; border: none; color: white; padding: 16px 32px; text-decoration: none; margin: 4px 2px; cursor: pointer; border-radius: 10px;">
 </label>
 <div style="font-family: 'Arial', monospace; font-size: 14px;height:20px;" id="uploadResult"></div>
 <div style="font-family: 'Arial', monospace; font-size: 14px;height:20px;" id="uploadFileSize"></div>
 <script>
  function measureUploadSpeed() {
   var startTime = new Date().getTime();//start time
   var fileInput = document.getElementById("fileInput");//selection of file for upload operation
   var file = fileInput.files[0];//selected file into varible

   var formData = new FormData();//Variable decleration to store file
   formData.append("file", file);//Put the file into variable

   var xhr = new XMLHttpRequest();//New request object decleration
   xhr.open("POST", "/upload", true);//Trigger the request to open

   xhr.onreadystatechange = function () { //We check the status of the request's respond 
    if (xhr.readyState === XMLHttpRequest.DONE) {//If request is completed
     var endTime = new Date().getTime();//end time
     var duration = endTime - startTime;//duration calculations
     var uploadSpeedMbps = (file.size / (1024 * 1024)) / (duration / 10000);//calculations
     document.getElementById("uploadResult").innerHTML = "Upload Speed : " + uploadSpeedMbps.toFixed(2) + " Mbps";//print operations
    
     uploadFileSize = file.size; //We put the value of file size (as byte) into variable
     uploadFileSize=formatFileSize(uploadFileSize,2)//we apply formatFileSize function here (detailly explained in line 138)
     document.getElementById("uploadFileSize").innerHTML = "Upload File Size : " + uploadFileSize ;//print operations
    
    }
   };

   xhr.send(formData);//sends a request to serve
  }
 </script>
 <!-- ******************************************************************** -->
 <p></p>
  <button onclick="pingServer();" style="font-family: 'Arial', monospace; font-size: 14px; background-color: royalblue; border: none; color: white; padding: 16px 32px; text-decoration: none; margin: 4px 2px; cursor: pointer; border-radius: 10px; width: 250px;">Ping to the Server</button>
  <div style="font-family: 'Arial', monospace; font-size: 14px; height:20px;" id="pingResult"></div>
  <script>
   function pingServer() {// to calculate ping we calculate the time of request
    var startTime = new Date().getTime();//start time
    var xhr = new XMLHttpRequest();//New request object decleration
    xhr.onreadystatechange = function () {
     if (xhr.readyState === XMLHttpRequest.DONE) {//if request is completed
      var endTime = new Date().getTime();//end time
      var duration = endTime - startTime;//calculations
      document.getElementById("pingResult").innerHTML = "Ping Speed : " + duration + " ms";//print operations
     }
    };
    xhr.open("GET", "/ping", true);//trigger the request
    xhr.send();//sends a request to serve
   }
  </script>

<script>
function formatFileSize(bytes,decimalPoint) {//Turn byte input file sizes into unit metric
  if(bytes == 0) return '0 Bytes';
  var k = 1000,
      dm = decimalPoint || 2,
      sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
      i = Math.floor(Math.log(bytes) / Math.log(k));
  return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
}
</script>
  <!-- ******************************************************************** -->
  <hr>
  <button onclick="location.reload();" style="font-family: 'Arial', monospace; font-size: 14px; background-color: royalblue; border: none; color: white; padding: 16px 32px; text-decoration: none; margin: 4px 2px; cursor: pointer; border-radius: 10px; width: 250px;">Page refresh</button>
  <hr>
  <!-- ******************************************************************** -->
</body>
</html>
