<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Speed Test</title>
 <style>
  input[type=submit] {
   border: 1px solid #ccc;
   display: inline-block;
   background-color: royalblue;
   border: none;
   color: white;
   padding: 16px 32px;
   text-decoration: none;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 10px;
   width:240px;
  }
  input[type="file"] {
   display: none;
  }
  .custom-file-upload {
   border: 1px solid #ccc;
   display: inline-block;
   background-color: royalblue;
   border: none;
   color: white;
   padding: 16px 32px;
   text-decoration: none;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 10px;
   width: 180px;
  }
 </style>
</head>
<body>
 <!-- ******************************************************************** -->
 <hr>
 <p style="font-family: 'Arial', monospace; font-size: 32px; font-weight: bold; text-decoration: underline; color: royalblue">Speed Test</p>
 <hr>
 <!-- ******************************************************************** -->
 <button onclick="measureDownloadSpeed()" style="font-family: 'Arial', monospace; font-size: 14px; 
 background-color: royalblue; border: none; color: white; padding: 16px 32px; 
 text-decoration: none; margin: 4px 2px; cursor: pointer; border-radius: 10px; width: 250px;">Measure Download Speed</button>
 <div style="font-family: 'Arial', monospace; font-size: 14px;height:20px;" id="downloadResult"></div>
 <div style="font-family: 'Arial', monospace; font-size: 14px;height:20px;" id="downloadFileSize"></div>
 <script>
  function measureDownloadSpeed() {
   var startTime, endTime;
   var downloadSizeInBytes = 1024 * 1024; // 1 MB dosya
   var downloadUrl = "http://3.67.154.2/static/20MB.png";// İndirilecek dosyanın URL'si
   var xhr = new XMLHttpRequest();
   xhr.open('GET', downloadUrl, true);

   xhr.onreadystatechange = function () {
    if (xhr.readyState === 2) {
     startTime = new Date().getTime();
    } else if (xhr.readyState === 4) {
     endTime = new Date().getTime();
     var durationInSeconds = (endTime - startTime) / 1000;
     var downloadSpeedMbps = (downloadSizeInBytes / (1024 * 1024)) / durationInSeconds;
     document.getElementById("downloadResult").innerHTML = "Download Speed : " + downloadSpeedMbps.toFixed(2) + " Mbps";
     downloadFileSize = xhr.response.length; //Bytes
     downloadFileSize=formatFileSize(downloadFileSize,2)//Format file size and convert by format
     document.getElementById("downloadFileSize").innerHTML = "Download File Size : " + downloadFileSize ;
    }
   };
  
   xhr.send();
  }


 </script>
 <!-- ******************************************************************** -->
 <p></p>
 <label class="custom-file-upload" style="font-family: 'Arial', monospace; font-size: 14px; background-color: royalblue; border: none; color: white; padding: 16px 32px; text-decoration: none; margin: 4px 2px; cursor: pointer; border-radius: 10px;width: 185px">
  Measuring Upload Speed
  <input type="file" id="fileInput" onchange="measureUploadSpeed()" style="font-family: 'Arial', monospace; font-size: 14px; background-color: royalblue; border: none; color: white; padding: 16px 32px; text-decoration: none; margin: 4px 2px; cursor: pointer; border-radius: 10px;">
 </label>
 <div style="font-family: 'Arial', monospace; font-size: 14px;height:20px;" id="uploadResult"></div>
 <div style="font-family: 'Arial', monospace; font-size: 14px;height:20px;" id="uploadFileSize"></div>
 <script>
  function measureUploadSpeed() {
   var startTime = new Date().getTime();
   var fileInput = document.getElementById("fileInput");
   var file = fileInput.files[0];

   var formData = new FormData();
   formData.append("file", file);

   var xhr = new XMLHttpRequest();
   xhr.open("POST", "/upload", true);

   xhr.onreadystatechange = function () {
    if (xhr.readyState === XMLHttpRequest.DONE) {
     var endTime = new Date().getTime();
     var duration = endTime - startTime;
     var uploadSpeedMbps = (file.size / (1024 * 1024)) / (duration / 10000);
     document.getElementById("uploadResult").innerHTML = "Upload Speed : " + uploadSpeedMbps.toFixed(2) + " Mbps";
    
     uploadFileSize = file.size; //Bytes
     uploadFileSize=formatFileSize(uploadFileSize,2)//Format file size and convert by format
     document.getElementById("uploadFileSize").innerHTML = "Upload File Size : " + uploadFileSize ;
    
    }
   };

   xhr.send(formData);
  }
 </script>
 <!-- ******************************************************************** -->
 <p></p>
  <button onclick="pingServer();" style="font-family: 'Arial', monospace; font-size: 14px; background-color: royalblue; border: none; color: white; padding: 16px 32px; text-decoration: none; margin: 4px 2px; cursor: pointer; border-radius: 10px; width: 250px;">Ping to the Server</button>
  <div style="font-family: 'Arial', monospace; font-size: 14px; height:20px;" id="pingResult"></div>
  <script>
   function pingServer() {
    var startTime = new Date().getTime();
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function () {
     if (xhr.readyState === XMLHttpRequest.DONE) {
      var endTime = new Date().getTime();
      var duration = endTime - startTime;
      document.getElementById("pingResult").innerHTML = "Ping Speed : " + duration + " ms";
     }
    };
    xhr.open("GET", "/ping", true);
    xhr.send();
   }
  </script>

<script>
function formatFileSize(bytes,decimalPoint) {
  if(bytes == 0) return '0 Bytes';
  var k = 1000,
      dm = decimalPoint || 2,
      sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
      i = Math.floor(Math.log(bytes) / Math.log(k));
  return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
}
</script>
  <!-- ******************************************************************** -->
  <hr>
  <button onclick="location.reload();" style="font-family: 'Arial', monospace; font-size: 14px; background-color: royalblue; border: none; color: white; padding: 16px 32px; text-decoration: none; margin: 4px 2px; cursor: pointer; border-radius: 10px; width: 250px;">Page refresh</button>
  <hr>
  <!-- ******************************************************************** -->
</body>
</html>
